{% extends 'user_profiles/detail/base_profile.html' %}

{% load static %}

{% block title %} Group creation {% endblock title %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'user_wall' %}">User</a></li>
    <li class="breadcrumb-item"><a href="{{ user_obj.get_absolute_url }}">User profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create a group</li>
{% endblock breadcrumbs %}


{% block profile %}
    <div class="col-lg-8">
        <div class="card card-edit">
            <div class="card-body">

                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                    {% endif %}

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">Title</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.title }}

                            {% if form.title.errors %}
                                <div class="alert alert-danger mt-3">{{ form.title.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">Description</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.description }}
                            <div class="d-flex justify-content-end">
                                <span id="words_count" class="d-none">Words count - <span id="text_count"></span></span>
                            </div>
                            {% if form.description.errors %}
                                <div class="alert alert-danger mt-3">{{ form.description.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">Logo</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.logo }}

                            {% if form.logo.errors %}
                                <div class="alert alert-danger mt-3">{{ form.logo.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 text-secondary">
                            <button class="btn btn-primary px-4">Create a group</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock profile %}