{% extends "base.html" %}

{% load static %}

{% block title %} Sign In {% endblock title %}

{% block content %}
<div class="account-login-block">
    <div class="account-login-form">

        <form class="form-login" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h1 class="form-login__title">Sign In</h1>
            <span class="form-login__logo"></span>

            {% if form.non_field_errors %}
                <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}


            <div class="form-login__group">
                {{ form.username }}
                <label class="form-login__label login-label__login" for="{{ form.username.id_for_label }}">Login</label>
            </div>

            {% if form.username.errors %}
                <div class="alert alert-danger">{{ form.username.errors }}</div>
            {% endif %}


            <div class="form-login__group">
                {{ form.password }}
                <label class="form-login__label login-label__password" for="{{ form.password.id_for_label }}">Password</label>
                <span class="login-password-icon login-password-icon__hide" id="login-password-icon"></span>
            </div>

            {% if form.password.errors %}
                <div class="alert alert-danger">{{ form.password.errors }}</div>
            {% endif %}

            <button class="form-login__button" type="submit">Sign In</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script src="{% static 'account/js/login.js' %}"></script>
{% endblock script %}