{% extends 'account/base.html' %}

{% block title %} Sign Out {% endblock title %}

{% block content %}
<div class="account-logout-block">
    <div class="account-logout-form">

        <form action="" method="post" class="form-logout">
            {% csrf_token %}
            <h1 class="form-logout__title">Sign Out</h1>
            <span class="form-logout__logo"></span>

            <p class="form-logout__text">Are you sure you want to sign out?</p>
            <button class="form-logout__button" type="submit">Sign Out</button>
        </form>
    </div>
</div>
{% endblock content %}
