{% extends "base.html" %}

{% load static %}

{% block title %} Signup {% endblock title %}

{% block content %}
<div class="account-signup-block">
    <div class="account-signup-form">

        <form class="form-signup" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <h1 class="form-signup__title">Sign up</h1>
            <span class="form-signup__logo"></span>

            {% if form.non_field_errors %}
                <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}


            <div class="form-signup__group">
                {{ form.username }}
                <label class="form-signup__label signup-label__login" for="{{ form.username.id_for_username }}">Login</label>
            </div>

            {% if form.username.errors %}
                <div class="alert alert-danger">{{ form.username.errors }}</div>
            {% endif %}


            <div class="form-signup__group">
                {{ form.email }}
                <label class="form-signup__label signup-label__email" for="{{ form.email.id_for_email }}">E-mail (optional)</label>
            </div>

            {% if form.email.errors %}
                <div class="alert alert-danger">{{ form.email.errors }}</div>
            {% endif %}


            <div class="form-signup__group">
                {{ form.password1 }}
                <label class="form-signup__label signup-label__password1" for="{{ form.password1.id_for_label }}">Password</label>
                <span class="signup-password-icon signup-password-icon__hide" id="signup-password-icon"></span>
            </div>

            {% if form.password1.errors %}
                <div class="alert alert-danger">{{ form.password1.errors }}</div>
            {% endif %}


            <div class="form-signup__group">
                {{ form.password2 }}
                <label class="form-signup__label signup-label__password2" for="{{ form.password2.id_for_label }}">Password (again)</label>
            </div>

            {% if form.password2.errors %}
                <div class="alert alert-danger">{{ form.password2.errors }}</div>
            {% endif %}

            <button class="form-signup__button" type="submit">Sign up</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'account/js/signup.js' %}"></script>
{% endblock script %}