{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}
<div class="account-block">
    <div class="account-signup-form" id="account-signup-form">
        <span class="account-signup-logo"></span>
        <h1 class="account-title">{% trans "Sign Up" %}</h1>

        <form class="signup" id="signup_form" method="post" action="{% url 'signup' %}">
            {% csrf_token %}

<!--            <div class="account-signup-field">-->
<!--                {{ form.username }}-->
<!--            </div>-->

            <div class="account-signup-field">
                <label for="{{ form.username.id_for_label }}" class="signup-label signup-label-username">{{ form.username.label }} * </label>
                <div class="signup-field-input">
                    {{ form.username }}
                </div>
            </div>

            <div class="account-signup-field">
                <label for="{{ form.email.id_for_label }}" class="signup-label signup-label-email">{{ form.email.label }} * </label>
                <div class="signup-field-input">
                    {{ form.email }}
                </div>
            </div>

            <div class="account-signup-field">
                <label for="{{ form.password1.id_for_label }}" class="signup-label signup-label-password1">{{ form.password1.label }} * </label>
                <div class="signup-field-input">
                    {{ form.password1 }}
                 </div>
            </div>

            <div class="account-signup-field">
                <label for="{{ form.password2.id_for_label }}" class="signup-label signup-label-password2">{{ form.password2.label }} * </label>
                <div class="signup-field-input">
                    {{ form.password2 }}
                 </div>
            </div>

            <div class="account-signup-field">
                <label for="{{ form.phone.id_for_label }}" class="signup-label signup-label-phone">{{ form.phone.label }} * </label>
                <div class="signup-field-input">
                    {{ form.phone }}
                 </div>
            </div>

            <div class="account-signup-field">
                <label for="{{ form.town.id_for_label }}" class="signup-label signup-label-town">{{ form.town.label }} * </label>
                <div class="signup-field-input">
                    {{ form.town }}
                 </div>
            </div>

            <div class="account-signup-field">
                <label for="{{ form.birthday.id_for_label }}" class="signup-label signup-label-birthday">{{ form.birthday.label }} * </label>
                <div class="signup-field-input">
                    {{ form.birthday }}
                 </div>
            </div>

            <div class="account-signup-field">
                <label for="{{ form.gender.id_for_label }}" class="signup-label signup-label-gender">{{ form.gender.label }} * </label>
                <div class="signup-field-input">
                    {{ form.gender }}
                 </div>
            </div>
            
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="account-signup-button-block">
                <button type="submit" class="btn btn-success account-signup-button">{% trans "Sign Up" %} &raquo;</button>
            </div>

            {% if form.non_field_errors %}
                <div class="alert alert-danger" id="non_field_errors" data-identifier="field-errors" style="margin-bottom: 25px;">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% if form.username.errors %}
                <div class="alert alert-danger" data-identifier="field-errors">
                    {{ form.username.errors }}
                </div>
            {% endif %}

            {% if form.email.errors %}
                <div class="alert alert-danger" data-identifier="field-errors">
                    {{ form.email.errors }}
                </div>
            {% endif %}

            {% if form.password1.errors %}
                <div class="alert alert-danger" data-identifier="field-errors">
                    {{ form.password1.errors }}
                </div>
            {% endif %}

            {% if form.password2.errors %}
                <div class="alert alert-danger" data-identifier="field-errors">
                    {{ form.password2.errors }}
                </div>
            {% endif %}

            {% if form.phone.errors %}
                <div class="alert alert-danger" data-identifier="field-errors">
                    {{ form.phone.errors }}
                </div>
            {% endif %}

            {% if form.town.errors %}
                <div class="alert alert-danger" data-identifier="field-errors">
                    {{ form.town.errors }}
                </div>
            {% endif %}

            {% if form.birthday.errors %}
                <div class="alert alert-danger" data-identifier="field-errors">
                    {{ form.birthday.errors }}
                </div>
            {% endif %}

            {% if form.gender.errors %}
                <div class="alert alert-danger" data-identifier="field-errors">
                    {{ form.gender.errors }}
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'account/js/account.js' %}"></script>
{% endblock script %}