{% extends 'base.html' %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'user_profiles/css/friends.css' %}" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'search/css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'search/css/search_pagination.css' %}" type="text/css" />
{% endblock link %}

{% block title %}Groups search{% endblock title %}


{% block content %}
    <div class="container search_block">
        <div class="previous_page_block"><a href="{{ previous_page }}">&#8678; Previous page</a></div>
        <form action="" method="get" id="search_form">
            <input class="form-control me-2 input_search" type="search" placeholder="Search" aria-label="Search" id="search" name="input">
            <button class="btn button_search" type="submit"></button>
        </form>

        <div class="row card_block">
            {% for group in groups %}
                <div class="col-md-4">
                    <div class="card user-card">
                        <div class="card-block">
                            <div class="user-image">
                                {% if group.logo %}
                                    <a href="{{ group.get_absolute_url }}"><img src="{{ group.logo.url }}" class="img-radius" alt="Logo"></a>
                                {% else %}
                                    <a href="{{ group.get_absolute_url }}"><img src="{% static 'user_profiles/images/anonymous.png' %}" class="img-radius" alt="Logo"></a>
                                {% endif %}
                            </div>
                            <h5><a class="user_link" href="{{ group.get_absolute_url }}">{{ group.title }}</a></h5>
                            <p class="text-muted">
                                Created {{ group.creation_date|date:"j.m.o" }}
                            </p>
                            <hr>
                            <div class="bg-c-blue counter-block m-t-10 p-20">
                                <div class="row">
                                    <div class="col-4">
                                        <i class="fa fa-user"></i>
                                        <p>{{ group.group_members.count }}</p>
                                    </div>
                                    <div class="col-4">
                                        <i class="fa fa-comment"></i>
                                        <p>{{ group.comments }}</p>
                                    </div>
                                    <div class="col-4">
                                        <i class="fa fa-sitemap"></i>
                                        <p>{{ group.group_posts.count }}</p>
                                    </div>
                                </div>
                            </div>
                            <p class="m-t-15 text-muted">
                                {{ group.description|truncatechars:70 }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if page_obj.has_other_pages %}
                {% include 'include/pagination.html' %}
            {% endif %}

        </div>
    </div>
{% endblock content %}