{% extends 'base.html' %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'user_profiles/css/friends.css' %}" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'search/css/style.css' %}" type="text/css" />
{% endblock link %}

{% block title %}Search{% endblock title %}


{% block content %}
    <div class="container search_block">
        <form action="" method="get" id="search_form">
            <input class="form-control me-2 input_search" type="search" placeholder="Search" aria-label="Search" id="search" name="input">
            <button class="btn button_search" type="submit"></button>
        </form>
            <div class="row card_block">
                {% for user in users %}
                    <div class="col-md-4">
                        <div class="card user-card">
                            <div class="card-block">
                                <div class="user-image">
                                    {% if user.avatar %}
                                        <a href="{{ user.get_absolute_url }}"><img src="{{ user.avatar.url }}" class="img-radius" alt="avatar"></a>
                                    {% else %}
                                        <a href="{{ user.get_absolute_url }}"><img src="{% static 'user_profiles/images/anonymous.png' %}" class="img-radius" alt="User-Profile-Image"></a>
                                    {% endif %}
                                </div>
                                {% if user.get_full_name %}
                                    <h5><a class="user_link" href="{{ user.get_absolute_url }}">{{ user.get_full_name }}</a></h5>
                                {% else %}
                                    <h5><a class="user_link" href="{{ user.get_absolute_url }}">{{ user.username }}</a></h5>
                                {% endif %}
                                <p class="text-muted">
                                    {% if user.gender != 'not specified' %}
                                        {{ user.gender }} |
                                    {% endif %}
                                    Born {{ user.personal_data.birthday|date:"j.m.o" }}
                                </p>
                                <hr>
    <!--                            <p class="text-muted m-t-15">Activity Level: 87%</p>-->
    <!--                            <ul class="list-unstyled activity-leval">-->
    <!--                                <li class="active"></li>-->
    <!--                                <li class="active"></li>-->
    <!--                                <li class="active"></li>-->
    <!--                                <li></li>-->
    <!--                                <li></li>-->
    <!--                            </ul>-->
                                <div class="bg-c-blue counter-block m-t-10 p-20">
                                    <div class="row">
                                        <div class="col-4">
                                            <i class="fa fa-comment"></i>
                                            <p>1256</p>
                                        </div>
                                        <div class="col-4">
                                            <i class="fa fa-user"></i>
                                            <p>8562</p>
                                        </div>
                                        <div class="col-4">
                                            <i class="fa fa-suitcase"></i>
                                            <p>189</p>
                                        </div>
                                    </div>
                                </div>
                                <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <hr>
                                <div class="row justify-content-center user-social-link">
                                    <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                                    <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                                    <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <div class="card user-card">-->
<!--                    <div class="card-header">-->
<!--                        <h5>Profile</h5>-->
<!--                    </div>-->
<!--                    <div class="card-block">-->
<!--                        <div class="user-image">-->
<!--                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-radius" alt="User-Profile-Image">-->
<!--                        </div>-->
<!--                        <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>-->
<!--                        <p class="text-muted">Active | Male | Born 23.05.1992</p>-->
<!--                        <hr>-->
<!--                        <p class="text-muted m-t-15">Activity Level: 87%</p>-->
<!--                        <ul class="list-unstyled activity-leval">-->
<!--                            <li class="active"></li>-->
<!--                            <li class="active"></li>-->
<!--                            <li class="active"></li>-->
<!--                            <li></li>-->
<!--                            <li></li>-->
<!--                        </ul>-->
<!--                        <div class="bg-c-green counter-block m-t-10 p-20">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4">-->
<!--                                    <i class="fa fa-comment"></i>-->
<!--                                    <p>1256</p>-->
<!--                                </div>-->
<!--                                <div class="col-4">-->
<!--                                    <i class="fa fa-user"></i>-->
<!--                                    <p>8562</p>-->
<!--                                </div>-->
<!--                                <div class="col-4">-->
<!--                                    <i class="fa fa-suitcase"></i>-->
<!--                                    <p>189</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
<!--                        <hr>-->
<!--                        <div class="row justify-content-center user-social-link">-->
<!--                            <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>-->
<!--                            <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>-->
<!--                            <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <div class="card user-card">-->
<!--                    <div class="card-header">-->
<!--                        <h5>Profile</h5>-->
<!--                    </div>-->
<!--                    <div class="card-block">-->
<!--                        <div class="user-image">-->
<!--                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-radius" alt="User-Profile-Image">-->
<!--                        </div>-->
<!--                        <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>-->
<!--                        <p class="text-muted">Active | Male | Born 23.05.1992</p>-->
<!--                        <hr>-->
<!--                        <p class="text-muted m-t-15">Activity Level: 87%</p>-->
<!--                        <ul class="list-unstyled activity-leval">-->
<!--                            <li class="active"></li>-->
<!--                            <li class="active"></li>-->
<!--                            <li class="active"></li>-->
<!--                            <li></li>-->
<!--                            <li></li>-->
<!--                        </ul>-->
<!--                        <div class="bg-c-yellow counter-block m-t-10 p-20">-->
<!--                            <div class="row">-->
<!--                                <div class="col-4">-->
<!--                                    <i class="fa fa-comment"></i>-->
<!--                                    <p>1256</p>-->
<!--                                </div>-->
<!--                                <div class="col-4">-->
<!--                                    <i class="fa fa-user"></i>-->
<!--                                    <p>8562</p>-->
<!--                                </div>-->
<!--                                <div class="col-4">-->
<!--                                    <i class="fa fa-suitcase"></i>-->
<!--                                    <p>189</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
<!--                        <hr>-->
<!--                        <div class="row justify-content-center user-social-link">-->
<!--                            <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>-->
<!--                            <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>-->
<!--                            <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'search/js/search.js' %}"></script>
{% endblock script %}
