{% extends 'base.html' %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'user_profiles/css/friends.css' %}" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'search/css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'search/css/search_pagination.css' %}" type="text/css" />
{% endblock link %}

{% block title %}Search{% endblock title %}


{% block content %}
    <div class="container search_block">
        <div class="previous_page_block"><a href="{{ previous_page }}">&#8678; Previous page</a></div>
        <form action="" method="get" id="search_form">
            <input class="form-control me-2 input_search" type="search" placeholder="Search" aria-label="Search" id="search" name="input">
            <button class="btn button_search" type="submit"></button>
        </form>

        <div class="row card_block">
            {% for user in users %}
                <div class="col-md-4">
                    <div class="card user-card">
                        <div class="card-block">
                            <div class="user-image">
                                {% if user.avatar %}
                                    <a href="{{ user.get_absolute_url }}"><img src="{{ user.avatar.url }}" class="img-radius" alt="avatar"></a>
                                {% else %}
                                    <a href="{{ user.get_absolute_url }}"><img src="{% static 'user_profiles/images/anonymous.png' %}" class="img-radius" alt="User-Profile-Image"></a>
                                {% endif %}
                            </div>
                            <h5><a class="user_link" href="{{ user.get_absolute_url }}">{{ user.get_full_name }}</a></h5>
                            <p class="text-muted">
                                {% if user.gender != 'not specified' %}
                                    {{ user.gender|title }} |
                                {% endif %}
                                {% if user.personal_data.birthday %}
                                    Born {{ user.personal_data.birthday|date:"j.m.o" }}
                                {% endif %}
                            </p>
                            <hr>
                            <div class="bg-c-blue counter-block m-t-10 p-20">
                                <div class="row">
                                    <div class="col-4">
                                        <i class="fa fa-user"></i>
                                        <p>{{ user.followers.count }}</p>
                                    </div>
                                    <div class="col-4">
                                        <i class="fa fa-comment"></i>
                                        <p>{{ user.user_comments.count }}</p>
                                    </div>
                                    <div class="col-4">
                                        <i class="fa fa-sitemap"></i>
                                        <p>{{ user.user_groups.count }}</p>
                                    </div>
                                </div>
                            </div>
                            <p class="m-t-15 text-muted">
                                {{ user.personal_data.info_about_user|truncatechars:70 }}
                            </p>
                            <hr>
                            <div class="row justify-content-center user-social-link">
                                {% if user.contacts.website %}
                                    <div class="col-auto"><a href="{{ user.contacts.website }}"><i class="fa fa-globe text-globe"></i></a></div>
                                {% endif %}
                                {% if user.contacts.twitter %}
                                    <div class="col-auto"><a href="{{ user.contacts.twitter }}"><i class="fa fa-twitter text-twitter"></i></a></div>
                                {% endif %}
                                {% if user.contacts.github %}
                                <div class="col-auto"><a href="{{ user.contacts.github }}"><i class="fa fa-github text-github"></i></a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if page_obj.has_other_pages %}
                {% include 'include/pagination.html' %}
            {% endif %}

        </div>
    </div>
{% endblock content %}