{% extends 'user_profiles/detail/base_profile.html' %}

{% load static %}

{% block title %} Edit profile {% endblock title %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'user_wall' %}">User</a></li>
    <li class="breadcrumb-item"><a href="{{ user.get_absolute_url }}">User Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit profile</li>
{% endblock breadcrumbs %}


{% block profile %}
    <div class="col-lg-8">
        <div class="card card-edit">
            <div class="card-body">

                <form action="{{ user.get_absolute_url_for_editing }}"  method="post">
                    {% csrf_token %}

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">First name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
<!--                            <input type="text" class="form-control" name="first_name" value="{{ obj.first_name }}">-->
<!--                            <input type="text" class="form-control" name="first_name" value="{{ user_obj.first_name }}">-->
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                                <div class="alert alert-danger mt-3">{{ form.first_name.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">Middle name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
<!--                            <input type="text" class="form-control" name="middle_name" value="{{ obj.middle_name }}">-->
<!--                            <input type="text" class="form-control" name="middle_name" value="{{ user_obj.middle_name }}">-->
                            {{ form.middle_name }}
                            {% if form.middle_name.errors %}
                                <div class="alert alert-danger mt-3">{{ form.middle_name.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">Last name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
<!--                            <input type="text" class="form-control" name="last_name" value="{{ obj.last_name }}">-->
<!--                            <input type="text" class="form-control" name="last_name" value="{{ user_obj.last_name }}">-->
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                                <div class="alert alert-danger mt-3">{{ form.last_name.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
<!--                            <input type="email" class="form-control" name="email" value="{{ obj.email }}">-->
<!--                            <input type="email" class="form-control" name="email" value="{{ user_obj.email }}">-->
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="alert alert-danger mt-3">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
<!--                            <input type="tel" class="form-control" name="phone" id="form-edit__phone"-->
<!--                                   value="{{ obj.personal_data__phone }}" data-validate-field="tel"-->
<!--                                   placeholder="+7 (999) 999-99-99" />-->
                            {{ form.phone }}
                            {% if form.phone.errors %}
                                <div class="alert alert-danger mt-3">{{ form.phone.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">Birthday</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {% if user_obj.birthday %}
<!--                                <input type="text" class="form-control profile-form__disabled-birthday" value="{{ obj.birthday }}" disabled />-->
                                <input type="text" class="form-control profile-form__disabled-birthday" value="{{ user_obj.birthday }}" disabled />
<!--                                <input type="date" class="form-control profile-form__birthday" name="birthday"-->
<!--                                   min="{{ min_birthdate }}" max="{{ max_birthdate }}" /> -->
                                {{ form.birthday }}
                            {% else %}
<!--                                <input type="date" class="form-control" name="birthday"-->
<!--                                   min="{{ min_birthdate }}" max="{{ max_birthdate }}" />-->
                                {{ form.birthday }}
                            {% endif %}

                            {% if form.birthday.errors %}
                                <div class="alert alert-danger mt-3">{{ form.birthday.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">Gender</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
<!--                            <select class="form-control" id="form-select__gender" data-gender="{{ obj.gender }}" name="gender">-->
<!--                            <select class="form-control" id="form-select__gender" data-gender="{{ user_obj.gender }}" name="gender">-->
<!--                              <option value="male">Male</option>-->
<!--                              <option value="female">Female</option>-->
<!--                              <option value="others">Others</option>-->
<!--                              <option value="not specified">Not specified</option>-->
<!--                            </select>-->
                            {{ form.gender }}
                            {% if form.gender.errors %}
                                <div class="alert alert-danger mt-3">{{ form.gender.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
<!--                            <input type="text" class="form-control" name="address" value="{{ obj.personal_data__address }}">-->
<!--                            <input type="text" class="form-control" name="address" value="{{ user_obj.personal_data__address }}">-->
                            {{ form.address }}
                            {% if form.address.errors %}
                                <div class="alert alert-danger mt-3">{{ form.address.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">Work</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
<!--                            <input type="text" class="form-control" name="work" value="{{ obj.personal_data__work }}">-->
<!--                            <input type="text" class="form-control" name="work" value="{{ user_obj.personal_data__work }}">-->
                            {{ form.work }}
                            {% if form.work.errors %}
                                <div class="alert alert-danger mt-3">{{ form.work.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">Hobby</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
<!--                            <input type="text" class="form-control" name="hobby" value="{{ obj.hobbies__title }}">-->
<!--                            <input type="text" class="form-control" name="hobby" value="{{ user_obj.hobbies__title }}">-->
                            {{ form.hobby }}
                            {% if form.hobby.errors %}
                                <div class="alert alert-danger mt-3">{{ form.hobby.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-3" style="margin-top: 10px;">
                            <h6 class="mb-0">About me</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
<!--                            <textarea class="form-control" name="info_about_user" rows="5">I like dancing</textarea>-->
                            {{ form.info_about_user }}
                            {% if form.info_about_user.errors %}
                                <div class="alert alert-danger mt-3">{{ form.info_about_user.errors }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 text-secondary">
                            <button class="btn btn-primary px-4">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock profile %}


{% block script %}
    <script src="{% static 'user_profiles/js/inputmask.min.js' %}"></script>
    <script src="{% static 'user_profiles/js/common.js' %}"></script>
{% endblock script %}