.search_block {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 550px;
}

.input_search {
    height: 50px;
}

.button_search {
    height: 50px;
    width: 50px;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    left: 290px;
    bottom: 55px;
    cursor: pointer;
    margin-bottom: -35px;
}

.card_block {
    width: 550px;
    margin-bottom: -30px;
    padding-left: 16%;
    display: inline-block;
}

.user_link {
    display: inline-block;
    margin: 10px 0 15px 0;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.user-card {
    width: 350px;
}