.search_block {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 550px;
}

.previous_page_block {
    position: relative;
    left: -200px;
    top: 15px;
    margin-bottom: -24px;
    width: 150px;
}

.previous_page_block__posts {
    position: relative;
    left: 55px;
    top: 15px;
    margin-bottom: -24px;
    width: 150px;
}

.previous_page_block>a {
    text-decoration: none;
}

.input_search {
    height: 50px;
}

.input_search__posts {
    height: 50px;
    width: 800px;
    margin-left: 250px;
}

.button_search {
    height: 50px;
    width: 50px;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    left: 290px;
    bottom: 55px;
    cursor: pointer;
    margin-bottom: -35px;
}

.button_search__posts {
    height: 50px;
    width: 50px;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    left: 1050px;
    bottom: 55px;
    cursor: pointer;
    margin-bottom: -35px;
}

.card_block {
    width: 550px;
    margin-bottom: -30px;
    padding-left: 16%;
    display: inline-block;
}

.user_link {
    display: inline-block;
    margin: 10px 0 15px 0;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.user-card {
    width: 350px;
}

.posts_search__pagination {
    margin-left: 220px;
    padding-left: 150px;
    width: 840px;
}