.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-logo {
    height: 32px;
    width: 32px;
    background-image: url('../logos/small-icon-social-network.png');
    margin: 0px 15px 0px 15px;
}

.header-list {
    font-size: 18px;
}

.header-list__link {
    color: rgb(255, 255, 255);
}

.header-list__link:hover {
    color: rgb(209, 193, 193);
}

.signin-block {
    margin-right: 15px;
    padding: 5px 15px;
}

.signin-block__link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.signin-block__link:hover {
    color: rgb(209, 193, 193);
}

.signup-block {
    margin-right: 75px;
    padding: 5px 15px;
}

.signup-block__link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.signup-block__link:hover {
    color: rgb(209, 193, 193);
}

.footer-block {
    display: flex;
    margin-top: auto;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 12px;
}

.footer {
    position: relative;
}

.footer-container {
    margin-top: -35px;
}

.footer-label {
    position: relative;
    top: 20px;
    left: 40px;
}

.footer-label__icon {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../logos/test-icon-social-network.png');
    position: relative;
    top: 20px;
    right: 35px;
}

.footer-list {
    display: flex;
    justify-content: center;
    margin-left: 110px;
    list-style: none;
}

.footer-link {
    position: relative;
    display: inline;
    text-decoration: none;
    margin-left: 50px;
}
