{% extends 'groups/detail/create_post.html' %}


{% block title %} Editing group post {% endblock title %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ request.user.get_absolute_url }}">User Profile</a></li>
    <li class="breadcrumb-item"><a href="{{ group.get_absolute_url }}">Group page</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit group post</li>
{% endblock breadcrumbs %}


{% block group_post_action %} {% url 'edit_group_post' group_post_slug=group_post_slug %} {% endblock group_post_action %}

{% block edit_button_data %}data-edit-button{% endblock edit_button_data %}

{% block post_button %} Edit post {% endblock post_button %}