<footer class="footer">
    <hr>
    <div class="footer-container">
        <div class="row">
            <div class="footer-label">
                <span><a href="{% url 'home' %}" class="footer-label__icon"></a>© <span id="footer-year"></span> DjangoNet, Inc.</span>
            </div>
            <div class="footer-list-block">
                <ul class="footer-list">
                    <li><a href="{% url 'home' %}" class="footer-link">About us</a></li>
                    <li><a href="#" class="footer-link">Docs</a></li>
                    <li><a href="#" class="footer-link">API</a></li>
                    <li><a href="#" class="footer-link">Contact us</a></li>
                    <li><a href="#" class="footer-link">Info</a></li>
                    <li><a href="#" class="footer-link">About</a></li>
                    <li><a href="/admin/" class="footer-link">Admin</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>