<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-logo" href="{% url 'home' %}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-list">
        <li class="nav-item">
          <a class="nav-link header-list__link" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link header-list__link" href="#">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle header-list__link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">News</a></li>
            <li><a class="dropdown-item" href="#">Interests</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'users' %}">Users</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled header-list__link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        {% if user.is_authenticated %}
          <div class="signin-block btn btn-dark">
              <a href="{% url 'logout' %}" class="signin-block__link">Logout</a>
          </div>
<!--          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-primary" type="submit">Search</button>-->
        {% else %}
          <div class="signin-block btn btn-dark">
            <a href="{% url 'login' %}" class="signin-block__link">Sign in</a>
          </div>
          <div class="signup-block btn btn-dark">
            <a href="{% url 'signup' %}" class="signup-block__link">Sign up</a>
          </div>
        {% endif %}
      </form>
    </div>
  </div>
</nav>