<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-4 col-sm-6 grid-margin stretch-card">
                <div class="card-body pagination-body">
                    <nav>
                        <ul class="pagination d-flex justify-content-center flex-wrap pagination-rounded-flat pagination-success">
                            {% if page_obj.has_previous %}
                                <li class="pagination-page-item">
                                    <a class="page-link" href="?page={{ page_obj.number|add:'-1' }}" data-abc="true">Previous</a>
                                </li>

                                {% if page_obj.number|add:'-2' > 1 %}
                                    <li class="pagination-page-item">
                                        <a class="page-link" href="?page=1">1</a>
                                    </li>
                                {% endif %}

                                {% if page_obj.number|add:'-2' > 2 %}
                                    <li class="pagination-page-item">
                                        <a class="page-link" href="?page={{ page_obj.number|add:'-3' }}">&hellip;</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="pagination-page-item disabled"><a class="page-link" href="#" data-abc="true">Previous</a></li>
                            {% endif %}

                            {% if page_obj.paginator.page_range|length > 1 %}
                                {% for page in page_obj.paginator.page_range %}

                                    {% if page_obj.number == page %}
                                        <li class="pagination-page-item active">
                                            <a class="page-link" href="#">{{ page }}</a>
                                        </li>

                                    {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                                        <li class="pagination-page-item">
                                            <a class="page-link" href="?page={{ page }}" data-abc="true">{{ page }}</a>
                                        </li>
                                    {% endif %}

                                {% endfor %}
                            {% endif %}

                            {% if page_obj.has_next %}
                                {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
                                    <li class="pagination-page-item">
                                        <a class="page-link" href="?page={{ page_obj.number|add:'3' }}">&hellip;</a>
                                    </li>
                                {% endif %}

                                {% if page_obj.number|add:'2' < page_obj.paginator.num_pages %}
                                    <li class="pagination-page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}

                                <li class="pagination-page-item">
                                    <a class="page-link" href="?page={{ page_obj.number|add:'1' }}" data-abc="true">Next</a>
                                </li>
                            {% else %}
                                <li class="pagination-page-item disabled"><a class="page-link" href="#" data-abc="true">Next</a></li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>